input[type='search']::placeholder {
    color: white;
    text-align: center;
}

/*html {*/
/*  scroll-behavior: smooth;*/
/*}*/

.autocomplete-suggestions {
  padding: 10px;
  background-color: white;
  border: solid 1px white;
  border-radius: 2px;
}

.result {
    border-radius: 5px;
    width: 70%;
    background-color: #fff;
    margin-top: 50px;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.img-res {
    border-radius: 50%;
    border: 10px solid #F2F2F2;
    box-shadow: 0 10px 10px 0 grey;
}

.rank, .name {
    border: none!important;
}

.rank {
    width: 50%;
    font-weight: bold;
    text-align: right;
}

.name {
    width: 50%;
    font-style: italic;
}