{% load static %}
<footer id="gtco-footer" role="contentinfo" style="height: 5%;">
	<div class="row copyright">
		<div class="col-md-12">
			<p class="pull-left" style="margin-left: 2%;">
				<small class="block">&copy; Big Brothers. All Rights Reserved.</small> 
				<small class="block">Designed by Big Brothers</small>
			</p>
			<p class="pull-right" style="margin-right: 2%;">
				<ul class="gtco-social-icons pull-right">
					<li><a href="https://gitlab.com/michael09/big-brothers"><i class="icon-github"></i></a> </li>
					<li><a href="https://drive.google.com/open?id=1ituctfaxYU-PJvlBwr3hR-tjATGPjBZU"><i class="icon-google"></i></a></li>
				</ul>
			</p>
		</div>
	</div>
</footer>