{% load static %}
<header>
    <nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			<div class="row">
				<div class="col-xs-2">
					<div id="gtco-logo" style="font-size: 14px;"><a href="{% url 'homepage' %}"><img src="{% static 'images/diplodocus.png' %}" style="width: 28px;"> Jurassic Tree</a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						{% if "parent" in request.path %}
						<li><a href="{% url 'homepage' %}">Home</a></li>
						<li class="active"><a href="{% url 'parent:lowest-parent' %}">Find Parent</a></li>
						<li><a href="{% url 'siblings:siblings' %}">Find Siblings</a></li>
						<li><a href="{% url 'smart_form:smart_form' %}">Find Info</a></li>
						{% elif "siblings" in request.path %}
						<li><a href="{% url 'homepage' %}">Home</a></li>
						<li><a href="{% url 'parent:lowest-parent' %}">Find Parent</a></li>
						<li class="active"><a href="{% url 'siblings:siblings' %}">Find Siblings</a></li>
						<li><a href="{% url 'smart_form:smart_form' %}">Find Info</a></li>
						{% elif "form" in request.path %}
						<li><a href="{% url 'homepage' %}">Home</a></li>
						<li><a href="{% url 'parent:lowest-parent' %}">Find Parent</a></li>
						<li><a href="{% url 'siblings:siblings' %}">Find Siblings</a></li>
						<li class="active"><a href="{% url 'smart_form:smart_form' %}">Find Info</a></li>
						{% else %}
						<li class="active"><a href="{% url 'homepage' %}">Home</a></li>
						<li><a href="{% url 'parent:lowest-parent' %}">Find Parent</a></li>
						<li><a href="{% url 'siblings:siblings' %}">Find Siblings</a></li>
						<li><a href="{% url 'smart_form:smart_form' %}">Find Info</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			
		</div>
	</nav>
</header>
