{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="gtco-loader"></div>
    <div id="page">
        <header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url('{% static 'images/forest.jpg' %}');">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-center">
                        <div class="display-t">
                            <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                <h1>Jurassic Tree</h1>
                                <h2>Artificial Intelligence project by Big Brothers</h2>
                                <p>
                                    <a href="#about" class="btn btn-primary btn-lg">About this project</a>
                                    <a href="https://drive.google.com/open?id=1ituctfaxYU-PJvlBwr3hR-tjATGPjBZU" class="btn btn-white btn-outline btn-lg">Download Proposal</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div id="gtco-services">
            <div class="gtco-container">

                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                        <h2>Features</h2>
                    </div>
                </div>

                <div class="row animate-box">

                    <div class="gtco-tabs">
                        <ul class="gtco-tab-nav">
                            <li class="active"><a href="#" data-tab="1"><span class="icon visible-xs"><i class="icon-home"></i></span><span class="hidden-xs">About Jurassic Tree</span></a></li>
                            <li><a href="{% url 'parent:lowest-parent' %}" data-tab="2"><span class="icon visible-xs"><i class="icon-leaf"></i></span><span class="hidden-xs">Find Parent</span></a></li>
                            <li><a href="{% url 'siblings:siblings' %}" data-tab="3"><span class="icon visible-xs"><i class="icon-star "></i></span><span class="hidden-xs">Find Siblings</span></a></li>
                            <li><a href="{% url 'smart_form:smart_form' %}" data-tab="4"><span class="icon visible-xs"><i class="icon-eye"></i></span><span class="hidden-xs">Find Info</span></a></li>
                        </ul>

                        <!-- Tabs -->
                        <div class="gtco-tab-content-wrap">

                            <div class="gtco-tab-content tab-content active" id="about" data-tab-content="1" >
                                <div class="col-md-12">
                                    <h2>About Jurassic Tree</h2>
                                    <p>Jurassic Tree is a web-based educational application that can
                                        help students to better understand animal taxonomy. According to KBBI,
                                        Taxonomy is a branch of biology that examines the naming, detailing, and
                                        grouping of living things based on their similarities and differences.
                                        Jurassic Tree can be used to find the level of taxon similarities between
                                        two different animals, find animals with the closest siblings, and find the top
                                        level of input given by Jurassic Tree users. This educational application
                                        can also display tree results from the similarities of taxon levels between
                                        two different animals.</p>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <h2 class="uppercase">Scope & Constraints</h2>
                                            <p>This project will encompass the study of classification or systematics of living things
                                                (taxonomy) especially for kingdom animalia. The database will be taken from the website
                                                www.itis.gov, where we will only take a taxonomy database at the level of kingdom animalia
                                                to the level of subspecies.</p>
                                        </div>
                                        <div class="col-md-4">
                                            <h2 class="uppercase">Solution Approach</h2>
                                            <ul>
                                                <li>Forward chaining</li>
                                                <li>Least Common Subsumer</li>
                                                <li>Django</li>
                                                <li>PostgreSQL</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <h2 class="uppercase">Similar App</h2>
                                            <p><a href="http://www.itis.gov">Integrated Taxonomy Information System (ITIS)</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="gtco-tab-content tab-content" data-tab-content="2">
                                <div class="col-md-6 col-md-push-6">
                                    <img src="{% static 'images/koala.png' %}" style="width: 80%; margin-left: 20%;" >
                                </div>
                                <div class="col-md-6 col-md-pull-6">
                                    <h2>Find Parent</h2>
                                    <p>Find Parent feature searches for the parent of two different animal species. This feature will use forward chaining and Least Common Subsumer to find the parent of the two animal species. Apart from showing the parent, it will also show the tree that links between the two animal species to the same parent.</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h2 class="uppercase">INPUT EXAMPLE</h2>
                                            <p><strong>Panthera leo (Lion)</strong> and <strong>Panthera tigris (Tiger)</strong></p>
                                        </div>
                                        <div class="col-md-6">
                                            <h2 class="uppercase">OUTPUT EXAMPLE</h2>
                                            <p><strong>Panthera (Genus)</strong> along with tree that maps both animals</p>
                                        </div>
                                    </div>

                                    <p><a href="{% url 'parent:lowest-parent' %}" class="btn btn-primary btn-outline">Try Now</a></p>

                                </div>
                            </div>

                            <div class="gtco-tab-content tab-content" data-tab-content="3">
                                <div class="col-md-6">
                                    <img src="{% static 'images/tiger.png' %}" style="width: 80%;" >
                                </div>
                                <div class="col-md-6">
                                    <h2>Find Siblings</h2>
                                    <p>Find Sibling feature searches for the nearest sibling of an animal species. This feature will use forward chaining to find the sibling of an animal species. Apart from showing it's sibling, it will also show the tree that links between the two siblings to the same parent.</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h2 class="uppercase">INPUT EXAMPLE</h2>
                                            <p><strong>Panthera leo (Lion)</strong></p>
                                        </div>
                                        <div class="col-md-6">
                                            <h2 class="uppercase">OUTPUT EXAMPLE</h2>
                                            <p><strong>Panthera tigris (Tiger), Panthera pardus (Leopard), etc</strong></p>
                                        </div>
                                    </div>
                                    <p><a href="{% url 'siblings:siblings' %}" class="btn btn-primary btn-outline">Try Now</a></p>
                                </div>
                            </div>

                            <div class="gtco-tab-content tab-content" data-tab-content="4">
                                <div class="col-md-6 col-md-push-6">
                                    <img src="{% static 'images/zebra.png' %}" style="width: 80%; margin-left: 20%;" >
                                </div>
                                <div class="col-md-6 col-md-pull-6">
                                    <h2>Find Info</h2>
                                    <p>Find Information feature searches for complete information of an animal species. This feature will use forward chaining to find the parent.</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h2 class="uppercase">INPUT EXAMPLE</h2>
                                            <p><strong>Panthera leo (Lion)</strong></p>
                                        </div>
                                        <div class="col-md-6">
                                            <h2 class="uppercase">OUTPUT EXAMPLE</h2>
                                            <p><strong>
                                                Kingdom: Animalia <br>
                                                Filum: Chordata <br>
                                                Kelas: Mammalia <br>
                                                Ordo: Carnivora <br>
                                                Famili: Felidae <br>
                                                Genus: Panthera <br>
                                                Spesies: P. leo
                                            </strong>
                                            </p>
                                        </div>
                                    </div>
                                    <p><a href="{% url 'smart_form:smart_form' %}" class="btn btn-primary btn-outline">Try Now</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="gtco-counter" class="gtco-bg gtco-cover gtco-counter" style="background-color:darkgreen;">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="display-t">
                        <div class="display-tc">
                            <div class="col-md-3 col-sm-6 animate-box">
                                <div class="feature-center">
                                    <span class="counter js-counter" data-from="0" data-to="50" data-speed="5000" data-refresh-interval="50">50</span>
                                    <span class="counter-label">Phylum</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 animate-box">
                                <div class="feature-center">

                                    <span class="counter js-counter" data-from="0" data-to="133" data-speed="5000" data-refresh-interval="50">133</span>
                                    <span class="counter-label">Class</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 animate-box">
                                <div class="feature-center">

                                    <span class="counter js-counter" data-from="0" data-to="6815" data-speed="5000" data-refresh-interval="50">6815</span>
                                    <span class="counter-label">Family</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 animate-box">
                                <div class="feature-center">

                                    <span class="counter js-counter" data-from="0" data-to="59708" data-speed="5000" data-refresh-interval="50">59708</span>
                                    <span class="counter-label">Species</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="gtco-features-2">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                        <h2>Watch Our Project Video</h2>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-1">
                        <iframe width="956" height="538" src="https://www.youtube.com/embed/gLBF2311H0c" frameborder="0" allow="accelerometer;
autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>
                </div>
            </div>
        </div>

        <div id="gtco-features">
            <div class="gtco-container">
                <div class="row"></div>
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>Meet the Big Brothers</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span>
							<img src="{% static 'images/member1.PNG' %}" style="width: 45%; border-radius: 50%;">
						</span>
                        <h3>ADITYA PRATAMA</h3>
                        <p>1706039490</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span>
							<img src="{% static 'images/member2.jfif' %}" style="width: 45%; border-radius: 50%;">
						</span>
                        <h3>JEFFREY</h3>
                        <p>1706039843</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span>
							<img src="{% static 'images/member3.jfif' %}" style="width: 45%; border-radius: 50%;">
						</span>
                        <h3>MICHAEL WIRYADINATA HALIM</h3>
                        <p>1706039944</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
							<span>
								<img src="{% static 'images/member4.jfif' %}" style="width: 45%; border-radius: 50%;">
							</span>
                        <h3>MUHAMAD LUTFI ARIF</h3>
                        <p>1706979360</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>
{% endblock %}

{% block extrascript %}
    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- jQuery Easing -->
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <!-- Waypoints -->
    <script src="{% static 'js/jquery.waypoints.min.js'%}"></script>
    <!-- Carousel -->
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <!-- countTo -->
    <script src="{% static 'js/jquery.countTo.js'%}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'js/magnific-popup-options.js'%}"></script>
    <!-- Main -->
    <script src="{% static 'js/main.js'%}"></script>
{% endblock %}

