{% extends 'base.html' %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'smartInput/css/style.css' %}">
{% endblock extrastyle %}

{% block content %}

<div class="gtco-loader"></div>
	<div id="page">
	<header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url({% static 'smartInput/images/forest.jpg' %})">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn" style="vertical-align: top !important; text-align: center">
							<h1 style="margin-top: 120px">FIND ANIMAL INFO</h1>
							<form class="form-inline my-2 my-lg-0">
                              <input id="animal" style="color: white; border-color: white; width: 40%" class="form-control mr-sm-2 bg-info" name="animal" type="search" placeholder="What are you looking for?" aria-label="Search" required>
                              <button class="btn btn-outline-success my-2 my-sm-0" onclick="getAnimalInfo()" type="submit" style="font-size: 20px; color: white; background-color: #F75B17">Search</button>
                            </form>
                            <div>
                                    <br>
                                    <p style="color: white;">Find Information feature searches for the information of an animal
                                        species and its taxonomy. This feature include smart suggestion for user to use. This feature
                                        use forward chaining to find the animal's taxonomy.</p>
                                </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</header>

    </div>


<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
{% endblock %}

{% block extrascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.27/jquery.autocomplete.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- jQuery Easing -->
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <!-- Waypoints -->
    <script src="{% static 'js/jquery.waypoints.min.js'%}"></script>
    <!-- Carousel -->
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <!-- countTo -->
    <script src="{% static 'js/jquery.countTo.js'%}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'js/magnific-popup-options.js'%}"></script>
    <!-- Main -->
    <script src="{% static 'js/main.js'%}"></script>

    <script src="{% static 'smartInput/js/script.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.27/jquery.autocomplete.min.js"></script>
{% endblock %}

