{% extends 'base.html' %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/Treant/Treant.css' %}">
    <link rel="stylesheet" href="{% static 'siblings/css/example6.css' %}">
    <link rel="stylesheet" href="{% static 'js/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'siblings/css/error.css' %}">
{% endblock %}

{% block content %}
    <div id="page">
        <header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url('{% static 'siblings/images/forest.jpg' %}')">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">

                    <div class="col-md-12 col-md-offset-0 text-center">

                        <div class="display-t">
                            <div class="display-tc" data-animate-effect="fadeIn" style="vertical-align: top;">
                                <h1 style="margin-top: 120px">FIND SIBLINGS</h1>
                                <br>
                                <div>
                                    <form class="form-inline" id="sibling" action="{% url 'siblings:sibling-post' %}">
                                        {% csrf_token %}
                                        <input id="animal" style="color: white; border-color: white; width: 40%" class="form-control bg-info" name="animal" type="search" placeholder="What animal's siblings are you searching for?" aria-label="Search" required>
                                        <button class="btn btn-outline-success" type="submit" style="font-size: 20px; color: white; background-color: #F75B17" onclick="window.location.href='#OrganiseChart6'">Search</button>
                                    </form>
                                </div>
                                <div>
                                    <br>
                                    <p style="color: white;">Find Sibling feature searches for the nearest sibling of an animal species. This feature will use forward chaining to find the sibling of an animal species. Apart from showing it's sibling, it will also show the tree that links between the two siblings to the same parent.</p>
                                </div>
                            </div>
                        </div>
                        <div id="error"></div>
                    </div>
                </div>
            </div>
        </header>
        <div id="gtco-features">
            <div class="gtco-container">
                <div class="chart" id="OrganiseChart6"></div>
            </div>
        </div>

        <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
        </div>
    </div>
    
{% endblock %}

{% block extrascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.27/jquery.autocomplete.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- jQuery Easing -->
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <!-- Waypoints -->
    <script src="{% static 'js/jquery.waypoints.min.js'%}"></script>
    <!-- Carousel -->
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <!-- countTo -->
    <script src="{% static 'js/jquery.countTo.js'%}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'js/magnific-popup-options.js'%}"></script>
    <!-- Main -->


    <script src="{% static 'js/vendor/raphael.js' %}"></script>
    <script src="{% static 'js/treant/Treant.js' %}"></script>
    <script src="{% static 'js/main.js'%}"></script>

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.mousewheel.js' %}"></script>
    <script src="{% static 'js/vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

    <script src="{% static 'siblings/js/ajax.js' %}"></script>
{% endblock %}
